/* font-family: 'Cantarell', sans-serif; */

header {
  text-align: center;
}


.name {
  font-family: 'Cantarell';
  font-weight: 600;
  margin-top: 40px;
  font-size: 90px;
}

.tagline {
  margin-bottom: 30px;
}

#search__input {
  /* padding: 19px; */
  height: 50px;
  font-size: 15px;
  font-weight: 500;
}
#search__input:focus {
  border: 1px solid #E1E1E1;
}

.login__text {
  font-family: 'Cantarell';
  margin-top: 180px;
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: bold;
}

.input__element__container {
  max-width: 330px;
  margin: 0 auto;
}

.input__element__container input {
  height: 50px;
  display: block;
  border-radius: 3px;
  padding-left: 15px 80px !important ;
  color: #828282;
  outline-color: #0067f5;
  background: #fff;
  border: 1px solid hsla(0,0%,82%,.56);
  margin-top: .9375em;
  font-family: 'Cantarell';
  font-size: 14px;
  margin: 20px;
}

.auth_page_hr {
  width: 50%;
  margin-top: 14px;
  margin-bottom: 16px;
}

p {
  font-family: 'Cantarell';
}

header .button {
  margin: 5px 10px
}


/* .row {
border: 1px solid red;
} */

.top__apartments {
  text-align: center;
}

#getMaison{
  background-color: black;
  color: white;
  border-color: black;
}

#getMaison:hover {
  background-color: white;
  color: black;
  border-color: #E1E1E1;
}

.auth__btns {
  background-color: black;
  color: white;
  border-color: black;
}

.auth__btns:hover {
  background-color: white;
  color: black;
  border-color: #E1E1E1;
}

.navbar, .navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  z-index: 99;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  position: fixed;
  top: 0px;
  left: 0px;
  line-height: 6.5rem;
}

  .navbar-list {
    margin: 0 auto;
    margin-bottom: 0px;
    width: 60%;
    margin: 0 auto;
  }

  .container {
    text-align: center;

  }

  .navbar-item {
    float: left;
    list-style-type: none;
    margin: 0 20px;
  }

  .navbar-item a {
    padding: 25px;
    color: black !important;
    font-weight: bold
  }

  .navbar-item a:hover {
    color: white !important;
  }
  
  .popover {
    display: none;
  }

  .navbar-item:hover {
    background-color: black;
  }
  
  



.card {
  float: left;
  padding: 0 1.7rem;
  width: 33%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}



/* ---------------- */




/*! CSS Used from: https://milo.bootlab.io/dist/css/milo.css */
@media print{
  *,:after,:before{text-shadow:none!important;box-shadow:none!important;}
  a:not(.btn){text-decoration:underline;}
  img{page-break-inside:avoid;}
  p{orphans:3;widows:3;}
  }
  *,:after,:before{box-sizing:border-box;}
  article,header{display:block;}
  h4{margin-top:0;margin-bottom:.5rem;}
  p{margin-top:0;margin-bottom:1rem;}
  a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
  a:hover{color:#0056b3;text-decoration:underline;}
  img{vertical-align:middle;border-style:none;}
  h4{margin-bottom:.5rem;font-family:PT Serif,serif;font-weight:700;line-height:1.2;color:inherit;}
  h4{font-size:1.5rem;}
  .card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:transparent;background-clip:border-box;border:0 solid rgba(0,0,0,.125);border-radius:0;}
  .card-body{flex:1 1 auto;padding:1.5rem;}
  .card-title{margin-bottom:.75rem;}
  .card-text:last-child{margin-bottom:0;}
  .card-header{padding:.75rem 1.5rem;margin-bottom:0;background-color:#fff;border-bottom:0 solid rgba(0,0,0,.125);}
  .card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}
  .card-img{width:100%;border-radius:calc(.25rem - 1px);}
  .card{border-bottom:1px solid rgba(0,0,0,.1);padding:10px;}
  .card a:not(.btn){color:inherit;text-decoration:none;}
  .card-header time{margin-bottom:.5rem;display:inline-block;}
  .card-img{transition:all .2s ease-in-out;}
  .card-img:hover{box-shadow:0 18px 32px -18px #000;-webkit-transform:translateY(-6px);transform:translateY(-6px);}
  .card-meta a:hover,.card-meta a:hover time{text-decoration:underline;}
  a{transition:all .25s ease-in-out;}
  .mb-4{margin-bottom:1.5rem!important;}
  /*! CSS Used fontfaces */
  @font-face{font-family:'PT Serif';font-style:normal;font-weight:700;src:local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qfVyvVp8NAyIw.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
  @font-face{font-family:'PT Serif';font-style:normal;font-weight:700;src:local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qWVyvVp8NAyIw.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
  @font-face{font-family:'PT Serif';font-style:normal;font-weight:700;src:local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qcVyvVp8NAyIw.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
  @font-face{font-family:'PT Serif';font-style:normal;font-weight:700;src:local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRSQgYoZZY2vCFuvAnt66qSVyvVp8NA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
